<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<title>Fitmax - Crossfit Lite</title>
	<!-- =================== META =================== -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="assets/img/favicon.png">
	<!-- =================== STYLE =================== -->
	<link rel="stylesheet" href="assets/css/slick.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-grid.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="home">

	<!--================ RELATED POSTS ================-->
	<section class="s-related-posts">
		<div class="container">
			<h2 class="title-decor">Latest <span>News</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor,
				auctor tincidunt lorem ut, venenatis dapibus miq.</p>
			<div class="row">

				<div class="col-md-4 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">fitness</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="assets/img/placeholder-all.png"
										data-src="assets/img/blog-4.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31,
									2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By
										Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2
										Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">fitness</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="assets/img/placeholder-all.png"
										data-src="assets/img/blog-4.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31,
									2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By
										Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2
										Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">fitness</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="assets/img/placeholder-all.png"
										data-src="assets/img/blog-4.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31,
									2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By
										Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2
										Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
			</div>



		</div>






		<section class="s-testimonials testimonials-border"
			style="">
			<div class="mask"></div>
			<div class="container">
				<div class="testimonials-slider">
					
					<div class="testimonial-slide">

						<h3 class="name">Kat Smith</h3>
						<div class="prof">our client</div>
						
					</div>
				</div>
			</div>
		</section>
		<!-- ============ S-TESTIMONIALS END ============ -->

	</section>
	<!--============== RELATED POSTS END ==============-->



	<!--=================== TO TOP ===================-->
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	</a>
	<!--================= TO TOP END =================-->

	<!--=================== SCRIPT	===================-->
	<script src="assets/js/jquery-2.2.4.min.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/rx-lazy.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>

</html>